@font-face {
  font-family: "PTSansCaption Bold";
  src: url("./assets/fonts/PTSansCaption-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PTSansCaption Regular";
  src: url("./assets/fonts/PTSansCaption-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PTSansCaption Regular", sans-serif;
}

